.button {
    width: 7vmax;
    height: 3vmax;
    border-radius: 8px;
    font-size: 1vmax;
    cursor: pointer;
    color: aliceblue;
    background-color: #020024;
    border: none;
    box-shadow: rgba(93, 88, 114, 0.16) 0px 10px 36px 0px, rgba(93, 88, 114, 0.16) 0px 0px 0px 1px;
}

.button:active {
    transform: scale(.98);
}
