.reverseArrayContainer {
    display: grid;
    grid-template-columns: repeat(16, 6.2%);
    width: 100%;
    margin-top: 14.5%;
}

.blockArrayContainer {
    grid-column-start: 2;
    grid-column-end: 15;
}

.randomButton, .reverseButton {
    margin-top: 50%;
}

.randomButton {
    grid-column: 3;
}

.reverseButton {
    grid-column: 5;
}
